.topnav {
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#homebutton{
  float: left;
}

.topnav a {
  float: right;
  color: #cc9900;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #cc9900;
  color: white;
}

.domain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0;
    color: tomato;
    font-family:'Courier New', Courier, monospace;
    box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3)

}




.welcome{
  display: block;
  padding: 0px;
  margin: 0px;
}

.welcome p{
  padding: 10px;
  margin: 0px;
}

.welcome li{
  padding: 10px;
}

.welcome h1{
  text-align: center;
  font-size: 30px;
}

.logoSAT{
  display: flex;
  height: 200px;
  width: 350px;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.logoSAT img{
    height: 200px;
    width: 350px;   
}



.image img{

    width: 100%;
}

.imageSlides {
  display: none
}
 
img {
  margin: auto;
  display: block;
  width: 100%;
}
 
/* Our main images-slideshow container */
.images-slideshow {
  max-width: 612px;
  position: relative;
  margin: auto;
}
 
/*Style for ">" next and "<" previous buttons */
.slider-btn{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
 
/* setting the position of the previous button towards left */
.previous {
  left: 2%;
}
 /* setting the position of the next button towards right */
.next {
  right: 2%;
}
 
/* On hover, adding a background color */
.previous:hover,
.next:hover {
  color: rgb(255, 253, 253);
  background-color: rgba(0, 0, 0, 0.8);
}

.about{
    margin-top: 0;
    justify-content: center;
}


.about h2{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 50px;
}



.description{

    justify-content: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px;
    gap: 10px; 
}

.box{
    height: 400px;
    width: 290px;
    box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    border: 1px solid transparent;
    margin: 10px;
    border-radius: .9rem;
    
}

.image-container{
  height: 200px;
  margin: 0px;
}

.image-container img{
  height: 200px;
  border-radius: 10px;
  width: 290px;
  margin: 0px;
}

.box h3{
    text-align: center;
    color: tomato;
    
}

.text{
    display: inline-block;
    justify-content: center;
    padding: 10px;
}

.text p{
  margin: 0px;
}


.started{  
 margin-top: 100px;  
}

.started h2{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    margin-bottom: 50px;
}


.resource{
  height: 100px;
  width: 250px;
}

.blue{
 background-color: #1d3868;
 height: 50px;
 display: flex;
 justify-content: center;

}

.blue h1{
  margin: 10px;
  font-size: 20px;
  color: white;
}

.gold{
  background-color: #ffbf00;
  height: 50px;
}

.button-style{
  display: flex;
  justify-content: center;
  padding: 10px;
  
}

.button-style :hover{
  background-color: tomato;
}

.button-style button{
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #5c5776;
  cursor: pointer;
  font-size: .7rem;
  font-weight: 100;
  padding: .5rem 1.25rem;
  text-align: center;
  
}


.button-style button a{
  text-decoration: none;
}




.description-1{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px;
    gap: 50px;
   
}





/* footer starts here */

.footer{
  display: flex;
  margin-top: 200px;
  justify-content: center;
  background-color: #333;
}

.footer-info{

  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.social{
  margin: 10px;
 
}

.social img{
  width: 30px;
}





