
.domain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: tomato;
    font-family:'Courier New', Courier, monospace;
    box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3)

}


.image, img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   
}

.about{
    margin-top: 0;
    justify-content: center;
}


.about h2{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
}



.description{

    justify-content: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px;
    gap: 10px;
    
}

.box{
    height: 400px;
    width: 350px;
    box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    border: 1px solid transparent;
    margin: 10px;
    border-radius: .9rem;
}

.box h3{
    text-align: center;
    color: tomato;
    
}

.text{

    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}



.started{  
 
 margin-top: 50px;   
}

.started h2{
    font-size: 30px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}


.resources{
    height: 400px;
    width: 400px;
    box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    border: 1px solid transparent;
    margin: 10px;
    border-radius: .9rem; 
}

.resources h3{

    text-align: center;
    padding: 20%;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    color: tomato;
}

.description-1{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px;
    gap: 50px;
}

.button{
    border-style: solid;
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #5c5776;
    cursor: pointer;
    font-size: .7rem;
    font-weight: 100;
    line-height: 1.6;
    padding: .75rem 1.25rem;
    text-align: center;
   
}

.button button {
    background-color: white;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #754ffe;
    font-size: 16px;
    margin: 16px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button a{

    text-decoration: none;
}

.button  :hover{
    background-color: tomato;
    color: white;
}



/* footer starts here */


.info{
    display: flex;
    margin-top: 200px;
    background-color: #fefaf5; 
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.contact{

  
}
.email h4{
   color: rgb(220, 124, 15);
   margin-top: 50px;
}


.social{
    display: flex;
}


.icons{
    display: inline-flex;
    justify-content: space-around;
    width: 200px;
    padding: 0px;
    margin-top: 100px ;
    margin-right: 80px;
    
}


.logo img{

    width: 40px;
    height: 30px;
}

    

